@rendermode InteractiveServer

<div class="d-none d-md-flex align-center px-6">
    <MudPaper Height="36px" Width="36px" Elevation="2" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
        <MudImage Src="/images/mascotflipped.png" Width="100"></MudImage>
    </MudPaper>
    <MudText Typo="Typo.h5" Class="ml-4 mr-12 pt-1 pb-2 mud-theme-primary-dark">Candle Kitchen</MudText>
    <MudButton Href="/">Store</MudButton>

    <MudContainer Class="loginStuff">
        <AuthorizeView>
            <Authorized>
                <MudMenu Dense="true" Color="Color.Inherit" Label="Management" EndIcon="@Icons.Material.Filled.ArrowDropDown" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    <MudMenuItem Href="Account/Manage/PersonalData">Account Data</MudMenuItem>
                    <MudMenuItem Href="AddEditNewProduct">Add New Product</MudMenuItem>
                    <MudMenuItem Href="Account/Logout">Logout</MudMenuItem>
                </MudMenu>
            </Authorized>
            <NotAuthorized>
                <MudMenu Color="Color.Inherit" Label="Management" EndIcon="@Icons.Material.Filled.ArrowDropDown" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft">
                    <MudMenuItem Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Register</MudMenuItem>
                    <MudMenuItem Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Login</MudMenuItem>
                </MudMenu>
            </NotAuthorized>
        </AuthorizeView>
    </MudContainer>
</div>


